<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topic</title>
</head>
<body>
{% extends "myapp/base.html" %}
{% block header %}
<h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<p>
    <a href="{% url 'myapp:new_entry' topic.id%}">添加新笔记</a>
</p>
{% for entry in entries%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            {{entry.date_added |date:'Y-m-d,H:i'}}

            <small>
                <a href="{% url 'myapp:edit_entry' entry.id %}">编辑笔记</a>
            </small>
        </h3>
    </div>
    <div class="panel-body">
        {{entry.text| linebreaks}}
    </div>
</div>
{% empty %}
这个主题还没有笔记哦！
{%endfor %}
{% endblock content %}

</body>
</html>