<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <title>大V云笔记</title>
</head>
<style>
    .box {
        width: 500px;
        margin: 200px auto;
    }
</style>
<body>
{% extends 'myapp/base.html' %}
<div class="box">
    {% load bootstrap3 %}
    {% block header %}
    <h2> 登陆账户 </h2>
    {% endblock header %}
    {% block content %}
    <form method='post' action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">登陆</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'myapp:index' %}"/>
    </form>
    {% endblock content %}
</div>
</body>
</html>
